body {
    background-color:rgb(206, 239, 249);
}

h1{
    text-align:center;
    color:rgb(255, 243, 77);
    text-shadow: 2px 2px 5px rgb(2, 31, 104); 
    font-family: "Times New Roman", Times, serif;
     font-size:4vw;
}

p{
    margin: 5%;
    font-family: "Papyrus", fantasy;
    text-indent: 70px;
    letter-spacing: 2px;
}

.img1{
margin: auto;
  width:60%;
}

.img2{
margin: auto;
  width:60%;
}
