body {
    background-color:rgb(206, 239, 249);
    text-align: center;
}

h1{
    color:rgb(255, 243, 77);
    text-shadow: 2px 2px 5px rgb(2, 31, 104); 
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size:4vw;
}

p{
    margin: 5%;
    font-family: "Papyrus", fantasy;
    text-indent: 70px;
    letter-spacing: 2px;
    text-align-last: center;
}

.img1{
  width:35px;
  text-align: center;
}

.img2{
  width:30%;
  text-align: center;
}

h2{
    color:rgb(255, 243, 77);
    text-shadow: 2px 2px 5px rgb(2, 31, 104); 
    font-family: "Times New Roman", Times, serif;
    font-size:2vw;
}

h3{
    color:rgb(255, 243, 77);
    text-shadow: 2px 2px 5px rgb(2, 31, 104); 
    font-family: "Times New Roman", Times, serif;
    font-size:2vw;
}

.img3{
  width: 35%;
  text-align: center;
}
