body {
    background-color:rgb(206, 239, 249);
}

h1{
    text-align:center;
    color:rgb(255, 255, 105);
    text-shadow: 2px 2px 5px rgb(4, 35, 112); 
    font-family: "Times New Roman", Times, serif;
     font-size:4vw;
}

.img1{
    margin: 10;
   max-width: 1000px;
}

p{
    margin: 10;
    max-width: 1000px;
}

